h1{
    text-align: center;
    color: red;
}
a{
    margin: 100px;
    color: brown;
    
}
h2{
    text-align: center;
    color: blue;

}
p{
    text-align: center;
    color: grey;
}